.app {
  text-align: center;
  .app-header {
    background-color: #222;
    height: 100px;
    padding: 15px;
    color: white;
  }

  .editor-pane {
    margin-top: 50px;
  }
  .dragover-area {
    margin: auto;
    height: 10vh;
    width: 80%;
    background-color: #ededed;
  }
}

