.tab-item {
  display: inline-block;
  background-color: #efefef;
  margin: 0 2px;
  height: 30px;
  padding: 2px 5px;
  .tab-title {
    margin: 5px;
    vertical-align: sub; // TODO: Think
    cursor: pointer;
  }
  a {
    text-decoration: none;
    vertical-align: sub; // TODO: Think
  }
}
